body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    width: 100%;

// header et barre de navigation
    header {
    background-color: black;
    position: sticky;
    top: 0;

    nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 0 25px;

    .gauche {
    display: flex;
    flex-wrap:wrap;

    img {
    padding-top: 5px;
    }

    .onglets{
    display: flex;
    flex-wrap:wrap;
    margin-left: 10px;

  a {
    margin-left: 10px;
    cursor:pointer;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    }
    
  a:hover{
  color: orange;
  }
  }
}
  .droite {
  display: flex;
  flex-wrap:wrap;

  a {
  margin-right: 10px;
  cursor:pointer;
  padding: 20px;
   }

   a:hover {
    color: orange;
   }

   .search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;

    input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    width: 200px;
    }

    button[type="submit"] {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: -12px;
    }
 }
 }
 }
}

// section bannière
#bannière {
    background-image: url('./img/balthazar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    cursor: pointer;

    .lecture {
    padding-top: 300px;
    padding-left: 50px;

    button {
      margin: 20px;
      padding: 20px;
      font-size: 20px;
      border-radius: 25px;
      cursor: pointer;
      border: none;
    }

    .info {
        background-color: dimgray;
        color: white;
      }
    }
}

#films-et-series {
  background-color: #191a1a;
  padding: 25px;

  .section_tendances {
      margin-bottom: 55px;

      h2 {
          color: #fff;
      }

      .list {
        display:flex;
        overflow-x: auto;

        a {
          padding-left: 5px;
          transition: transform 0.25s;

          img {
            height: 140px;
          }
        }

        a:hover {
            transform:scale(1.05);
        }
      }
  }
}

// footer
  footer {
  background-color: #000;
  padding: 25px 100px;
  color: #909191;

  h5 {
    color: white;
    font-size: 20px;
  }

  .colonnes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
}
}
